// Import custom Bootstrap variables
@import "bootstrap-variables";
// Import Bootstrap
@import "bootstrap";
// or Import Bootstrap Flex
// @import "bootstrap-flex";
// or Import Bootstrap Grid
// @import "bootstrap-grid";
// or Import Bootstrap Reboot
// @import "bootstrap-reboot";

#main {
  padding: 3rem 1.5rem;
}

.bg-inverse {
  background-color: $brand-primary !important;
}

footer {
  color: #fff;
  background-color: $brand-primary !important;
  padding: 20px 0;

  #odine-logo {
    width: 250px;
    margin-bottom: 10px;
  }

  #odi-labs {
    width: 175px;
    margin: -10px 0 0 -10px;
  }
}
