<div class="alert alert-danger" role="alert">
  This is a <strong>very early alpha</strong> of a new tool from <a href='http://theodi.org/labs'>ODI Labs</a>. It
  is almost certainly <strong>not useful yet</strong>; results may be wrong,
  misleading or unhelpful. But, we want to know what you think! Is it a good
  idea? What should it do differently? Contact us via the <a href='https://github.com/theodi/find_a_standard/issues'>GitHub issue tracker</a>
  to give us your feedback!
</div>

<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Find a standard</h1>
    <p class="lead">Publish open data in a recognised standard</p>
    <form class="form-inline" method="get" action="/search">
      <div class="form-group">
        <input type="text" class="form-control" id="search" name="q" placeholder="Search for a standard">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </form>
    <small>Hint: Try <a href='/search?q=budget'>budget</a> or <a href='/search?q=animals'>animals</a></small>
  </div>
</div>

<div>
  Are we missing a standard?
  <a href='/submit'>
    Submit it here.
  </a>
</div>
