<h1>Search Results</h1>

<p>You searched for '<%= @query %>'</p>

<% @results['hits']['hits'].each do |r| %>

  <h2><a href="<%= r['_source']['url'] %>"><%= r['_source']['title'] %></a></h2>

  <p></p>

  <hr />

<% end %>
